packages/app/src/core/*.js
packages/extension/dist/**/*
packages/cordova/plugins/**/*
packages/cordova/platforms/**/*
packages/cordova/www/**/*
packages/electron/app/**/*
packages/electron/build/**/*
packages/electron/dist/**/*
packages/tauri/dist/**/*
packages/tauri/src-tauri/target/**/*
packages/tauri/tauri-update.json
packages/pwa/dist/**/*
package-lock.json
cypress/fixtures/**/*
.flatpak-builder/**/*
packages/locale/res/**/*
packages/admin/dist/**/*
.github
.husky
.vscode
.git
.gitignore
.eslintcache
node_modules

.history
server/web-box
db/
server/node_modules
cmd
server/.env
node_modules
dist/
.quasar
.DS_Store

packages/server/data